
Options -Multiviews
Options +FollowSymLinks
RewriteEngine On
RewriteBase /tutocodeigniter

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|images|robots\.txt|css|products|js)
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
